<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello <%=name%> </h1>
    <h2 style=" background: #fd9706 ; padding: 10px ; border-radius: 20px; margin: 20px;"><%=a%></h2>
    <% if(name != "Abdelrahman"){%>
    <h1>hahaha</h1>
    <% } %>
</body>
</html>